<mat-toolbar>
    <div class="nav-left">
        <img [src]="imageSrc" width="80px">
        <a routerLink="/dashboard">HOME</a>
        <a routerLink="/login" routerLinkActive="active">LOGIN</a>
        <a routerLink="/signup" routerLinkActive="active">SIGN UP</a>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <img [src]="imgSearch" [alt]="imageAlt" width="30px">
            <input type="text" placeholder="Search">
        </div>
        <div class="nav-user-icon li_main">
            <img [src]="imgPerfil" width="50px">
            <div class="dd-right">
                <a routerLink="">Minha conta</a>
                <a routerLink="">Configações</a>
                <a routerLink="">Suporte</a>
                <a routerLink="">Sair do CDL</a>
            </div>
        </div>
    </div>
</mat-toolbar>