<mat-toolbar>
    <div class="nav-left">
        <!-- <img [src]="imageSrc"> -->
        <a routerLink="/dashboard">Home</a>
        <a routerLink="/login">login</a>
        <a routerLink="/signup">Sign Up</a>
    </div>
    <!-- <div class="nav-right">
        <div class="search-box">
            <img [src]="imgSearch" [alt]="imageAlt">
            <input type="text" placeholder="Search">
        </div>
        <div class="nav-user-icon li_main">
            <img [src]="imgPerfil">
            <div class="dd-right">
                <a routerLink="">Conta</a>
                <a routerLink="">Minha assinatura</a>
                <a routerLink="">Configações</a>
                <a routerLink="">Suporte</a>
                <a routerLink="">Sair</a>
            </div>
        </div>
    </div> -->
</mat-toolbar>